# Core AI and Image Processing
ultralytics
torch
torchvision
opencv-python==4.11.0.86

# Hardware Communication
evdev
pygame         # For audio playback
requests       # For sending data to server

# Utilities
numpy==1.26.4
PyYAML         # Dependency for ultralytics